methods/__pycache__/*
methods/bev_results/*/*/*.jpg
methods/bev_results/*/*/*/*.jpg
methods/bev_results/*/*/*/*.png
methods/romp_results/*/*/*.jpg
methods/romp_results/*/*/*/*.jpg
methods/romp_results/*/*/*/*.png

agora/src/__pycache__/*
agora/processed_imgs/*

ochuman/src/__pycache/*
ochuman/src/gtSMPL

3dpw/src/__pycache__/*
3dpw/smpl_objects/*
3dpw/processed_imgs
3dpw/masks/*
3dpw/3dpw_masks.zip
3dpw/generate_smpl/__pycache__/*